

   body{
       font-family: Arial,Helvetica,sans-serif;
       background-color: black;
    
      
       align-self: center;
   }
   {
       box-sizing: border-box;
       
       
   }
   .container{
       padding: 16px;
       background-color: rgb(173, 196, 202);
       align-self: center;
   }
   input[type=text],input[type=text],input[type=text],input[type=image],input[type=text]{
       width: 95%;
       height: 5px;
       padding:15px;
       margin:5px 0 22px 0;
       display: inline-block;
       border: none;
       outline: none;
       background: rgb(224, 219, 219);
   }
   #a{
    width:85%;
    height: 5px;
    padding:75px;
    margin:5px 0 22px 0;
    display: inline-block;
    border: none;
    outline: none;
    background: rgb(224, 219, 219);
   }
   input[type=text]:focus,input[type=text]:focus,input[type=text]:focus,input[type=image]:focus,input[type=text]:focus{
       background-color:rgb(152, 163, 163);
       outline: none;
   }
.text{
    align-items: center;
    background-color:rgb(11, 141, 228);
    color: rgb(218, 209, 209);
    padding: 16px 20px;
    margin:8px;
    cursor: pointer
    opacity: 0.9;
    border-radius: 20px;
    
}
.upload{
    width: 97%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid rgb(95, 97, 95);
    
  }
.text:hover{
    opacity: 1;
}
